* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(index.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    background:rgba(249, 248, 250, 0.062);
    border: 1px solid rgba(247, 243, 243, 0.493);                           
}
h1{
    color: aliceblue;
}
h4{
    color: #fc3b00;
}
h5{
    color: #f5f1f1;
    background-color: blue;
    width: 100px;
    height: 25px;
    background-position: center;
    
}